.diarycolumn {
    flex: 0.4;
    flex-direction: column;
  
    max-width: 90%; 
    display: block; 
    margin: 20px auto;

  }

  .diarycontainer{
    display: flex;
    flex: 1;
    flex-direction: column;

    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 3px;
    margin-right: 3px;


    position: absolute;
    top: 50px;
    bottom: 60px;
    left: 250px;
    right: 115px;

    overflow: auto;
  }

  .diarybox {
      
    max-width: 97%; 
    display: block; 
    margin: 10px auto;
  
    border-radius: 5px;
    border: 1px solid #93a9d1;
    background-color: #ffffff;

    text-align: center;

  }

  .diarycalender {
    flex: 1;
    display: flex;
    margin: 7px;

    border: 2px solid #f7cac9;
    border-radius: 5px;

  }

  .diarytitle {
    flex: 0.2;
    
    text-align: center;
    font-size: medium;
    padding: 12px; 
  }

  .calenderlist {
    flex: 1;
    flex-wrap: wrap;
    display:flex;
    
    padding: 7px;
  }

  .date {
    flex: 0 0 30px;

    text-align: center;
    color:rgb(117, 117, 117); 
    font-size: small;
  }

  .dairybutton{

    color: white;
  
    padding: 0px;
    border-radius: 5px;
    margin-left: 150px; 
    margin-right: 150px;
    margin-top: 10px;
    margin-bottom: 30px;
    border: 3px solid rgb(255, 255, 255);

    text-align: center;

  }

  .secretdiary {

    background-color: #f7cac9;
    color: white;
    padding: 7px;

    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: small;
    text-decoration: !important
    border: 3px solid rgb(255, 255, 255);
  }

  .secretdiary:hover {
    background-color:#93a9d1 ;
    transition: 800ms ease all;
  }

.secretbox {
  display: none;

}

.diary-text {

  max-width: 97%; 
  display: block; 
  margin: 10px auto;

  border-radius: 5px;
  border: 1px solid #93a9d1;
  background-color: #ffffff;

  text-align: center;
  
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: small;
}
