

body {
  background-color: #a3a3a3;
  background-image: url("../static/images/pattern.png");
  background-size: 100px;

}

.bookcover {
  background-color: #f7cac9;
  border-radius: 9px;
  border: 1px solid #738186;

  width: 960px;
  height: 660px;

  margin: 100px auto;

  position: relative;
}

.bookdot{

  border-style: dashed;
  border-radius: 9px;
  color:  #ffffff;

    top: 12px;
    bottom: 12px;
    left: 12px;
    right: 12px;

    position: absolute;
}

.page{

    background-color: #ffffff;
    border-radius: 9px;

      top: 15px;
      bottom: 15px;
      left: 15px;
      right: 15px;

      position: absolute;

}

.container {

  width: 900px;
  height: 660px;
  padding: 10px;
  display: flex;

}

.column1 {
  flex: 0.7;

  display: flex;
  flex-direction: column;
  margin: 10px;

}

.column1row {

  flex: 0.05;

}

.columntoday {

  font-size: small;
  text-align: center;

}

.memberbox {

  flex: 0.8;

  border-radius: 9px;
  border: 1px solid #93a9d1;
  background-color: #ffffff;

}

.column2 {

  flex: 2;

  display: flex;
  flex-direction: column;
  margin: 10px;

}

.column2row {

  flex: 0.05;

}

.mainbox {

  flex: 0.8;
  flex-direction: row;

  border-radius: 9px;
  border: 1px solid #93a9d1;
  background-color: #ffffff;

}


.homename_url {

  font-size: small;
  text-align: left;

}


.button {

  flex: 0.4;

  display: flex;
  flex-direction: column;

}

.buttonrow {

  flex: 0.3;

}

.profileimg{
  max-width: 80%; 
  display: block; 
  margin: 20px auto;
}

.profilemain {
  max-width: 80%; 
  display: block; 
  margin: 20px auto;

  font-family: 'Noto Sans KR', sans-serif;
  font-size: small;
}

.updatednews{
  flex: 0.4;
  flex-direction: column;

  border-radius: 9px;
  border: 1px solid rgb(255, 255, 255);
  background-color: #ffffff;
}

.updatednewstitle {
  max-width: 90%; 
  display: block; 
  margin: 20px auto;

  font-size: large;

}

.newscornerleft {
  flex: 0.4;
  flex-direction: column;
  justify-content: center;

  max-width: 90%; 
  display: block; 
  margin: 20px auto;

  font-family: 'Noto Sans KR', sans-serif;
  font-size: small;
}

.newsphoto {
  background-color: #f7cac9;
  color: white;

  padding: 1px;
  border-radius: 5px;
  margin-right: 5px; 
  border: 3px solid rgb(255, 255, 255);

  text-align: center;
}

.newsboard {
  background-color: #93a9d1;
  color: white;

  padding: 1px;
  border-radius: 5px;
  margin-right: 5px; 
  border: 3px solid rgb(255, 255, 255);

  text-align: center; 
}

.profile-dropdown {
  flex: 0;
  border: 1px solid #f7cac9;
  padding: 4px;
  border-radius: 3px;
  margin-top: 10px;
  font-size: 0.8rem;
  position: relative;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 4.5px solid transparent;
  border-right: 4.5px solid transparent;
  border-top: 5px solid #f7cac9;
}

.dropdown-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.profile-dropdown:hover > .dropdown-content {
  display: block;
}

.dropdown-content > a {
  display: block;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 6px;
  color: black;
  text-decoration: none;
}

.dropdown-content > a:hover {
  background-color: #f1f1f1;
}